/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Reset End */

:root {
	--sidebar-color: #92400e;
	--stripe-color: #f59e0b;
	--header-color: #fcd34d;
	--main-background: #fef3c7;
	--card-color: #fffbeb;
	--text-content: #666666;
}

svg {
    width: 24px;
    height: 24px;
	vertical-align: -5px;
}
svg path {
    fill: var(--card-color);
}

img {
	/* border: 1px dotted black; */
	width: 50px;
	height: 50px;
}

.container {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 4fr;
	min-height: 100vh;
}

.sidebar {
    /* border: 1px solid green; */
	background-color: var(--sidebar-color);
	color: var(--card-color);
    grid-row: 1 / 3;

	display: grid;
	grid-template-rows: 100px 1fr;
	padding-left: 20px;
	z-index: 3;
}

.dashbord {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: start;
    align-items: center;
    gap: 10px;
}

.dashbord>.logo {
	height: 42px;
	width: 42px;
}

.dashbord>p {
	font-size: 1.6rem;
}

.navigation {
	display: grid;
	align-content: start;
	gap: 25px;
	padding-top: 25px;
}

.menu {
	font-size: 1.2rem;
}

.menu.space {
	margin-bottom: 30px;
}

.header {
    /* border: 1px solid purple; */
	background-color: var(--header-color);
	grid-column: 2 / 3;
	grid-row: 1 / 2;

	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: auto auto;
	gap: 10px;
	padding: 15px;
	box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
	z-index: 2;
}

.search-section {
	display: grid;
	grid-template-columns: auto 0.8fr;
	align-content: center;
	justify-content: start;
	gap: 10px;
}

.search-section>svg path {
	fill: var(--sidebar-color);
}

.search-section>input[type="text"] {
	font-size: 1.3rem;
	color: var(--sidebar-color);
	border: 0;
	border-radius: 15px;
	height: 1.5rem;
	/* padding-left: 5px; */
}

.search-section>input[type="text"]:focus {
	outline: none;
	box-shadow: 2px 2px 2px var(--sidebar-color);
}

.user-panel>p,
.search-section>p {
	display: inline;
}

.user-panel {
	display: grid;
	grid-template-columns: auto auto 1fr;
	gap: 25px;
	align-items: center;
}

.user-panel>svg path {
	fill: var(--sidebar-color);
}

.user-info {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 15px;
}

.user-info>.bg-picture {
	border: 2px dashed var(--sidebar-color);
	border-radius: 50%;
	grid-row: 1 / 3;
	height: 80px;
	width: 80px;
}

.user-info>.name-info {
	padding-top: 10px;
}

.sorting {
	display: grid;
	grid-template-columns: auto auto 1fr;
	align-content: space-around;
	justify-items: start;
    gap: 25px;
}

.sorting>button {
	background-color: var(--sidebar-color);
	border: 0px;
	border-radius: 20px;
	color: var(--card-color);
	font-weight: bold;
	padding: 10px 15px;
}

.main-container {
    /* border: 1px solid salmon; */
	background-color: var(--main-background);
	grid-column: 2 / 3;

	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: auto 1fr;
	gap: 15px;
	padding: 15px;
}

.section-header {
	font-size: 1.3rem;
	font-weight: bold;
}

.project {
	/* background-color: chocolate; */
	grid-row: 1 / 3;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 25px auto;
	gap: 15px;
}

.project>.section-header {
	grid-column: 1 / 3;
}

.title {
	font-size: 1.1rem;
	font-weight: bold;
}

.card-container {
	grid-column: 1 / 3;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-rows: 200px;
	gap: 15px;
}

.card {
	background-color: var(--card-color);
	box-shadow: 1px 3px 3px #00000059;
	border-radius: 15px;
	padding: 20px 15px;
	border-left: 8px solid var(--stripe-color);

	display: grid;
	grid-template-rows: auto 1fr auto;
	gap: 10px;
}

.description {
	color: var(--text-content);
}

.card>.option {
	display: grid;
	grid-template-columns: 1fr auto auto;
	justify-items: end;
	gap: 15px;
}

.option>svg path {
	fill: var(--sidebar-color);
}

.block>.imp {
	font-size: 0.9rem;
}

.block>.imp>.title {
	font-size: 1rem;
	padding-bottom: 5px;
}

.annoucement>p,
.trending>p {
	margin-bottom: 20px;
}

.block {
	border: 0;
	border-radius: 15px;
	box-shadow: 1px 3px 3px #00000059;
	background-color: var(--card-color);
	display: grid;
	row-gap: 15px;
	padding: 15px;
}

.block>.imp {
	border-bottom: 1px solid black;
	padding-bottom: 15px;
}

.imp:last-child {
	border-bottom: 0;
}

.trending {
	grid-column-start: 2;
}

.user-trend {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	column-gap: 15px;
	row-gap: 0.3rem;
	font-size: 0.9rem;
}

.user-trend>img {
	grid-row: 1 / 3;
}

.user-trend>.status {
	grid-row-start: 2;
	grid-column-start: 2;
	color: var(--text-content);
}